---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "whiteglass";

a.page-link {
    font-size: 18px;
}

a.post-link {
    font-family: Bitter, "Apple SD Gothic Neo", "Noto Sans", "Source Han Sans", "Noto Sans CJK JP", "Source Han Sans JP", "Noto Sans CJK KR", "Source Han Sans KR", NanumBarunGothic, AppleGothic, "Malgun Gothic", Dotum, serif;
}

ul#markdown-toc {
    margin-top: -10px;
}

p, ul, ol {
    font-family:helvetica, arial, sans-serif;
}

blockquote {
    color: #111111;
    background-color: #f8f8f8;
    border-left: 4px solid #008000;
    margin: 1em 0px;
    padding: 1em 10px;
    font-size:16px;
    letter-spacing: normal;
    font-style: normal;
}
blockquote:before {
    color: #c6c6c6;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.05em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
